.pb-4{
    padding-bottom: 3rem;
}

.pt-4{
    padding-top: 3rem;
}

.main-bg {
    background-color: #333;
}
.bg-primary {
    background-color: var(--red-full);
}
.title {
    margin: 0;
    margin-bottom: .5rem;
}
