.customDate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    padding: 1rem;
    width: 150px;
    border-radius: var(--border-radius-default);

    &__icon{
        margin-right: 1rem;
        color:var(--red-full)
    }

    &__text{
        font-size: 1rem;
        color:#333;
    }
}